.first-text {
  text-align: center;
  padding-top: 2%;
 font-size: calc(2rem + 2vw);
 background: linear-gradient(to right, #2c2c2c 50%, #ffffff 80%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 }


  :root{
    --white-text:#fff;
    --background:#000;
    --background-btn:#000;
    --black-text:rgb(68, 66, 66)	
  }

  .background1-left-column{
    background: var(--white-text);
  }
  
  
  .background2-left-column{
    background: var(--background);
  }

  .fa{
    width: 24px;
  }
  
  
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
  }
  
  
  body {
    background-color:  var(--background);	
    font-family: Arial, Helvetica, sans-serif;	
  }
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
      align-items: center;
  }

  .container-btn{
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .card {
    background-color:var(--white-text);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;	
    margin: 1.0rem;
    overflow: hidden;
    width: 80rem;
    height: 90rem;
  }
  
  .card h6 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .card  h2 {
    letter-spacing: .1rem;
    margin: 1rem 0;
    color: var(black-text);
  }
  
  .left-column {	
    color: var(--white-text);
    padding: 2rem;
    max-width: 10rem;
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }
  
  .left-column h2{
    color: var(--background);
  }

  .left-column h6{
    color: var(--background);
  }
  
  .left-column i {
    font-size: 5rem
  }
  
  .right-column {
    padding: 30px;
    width: 100%;
    display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
    
  }
  
  .right-column p{	
    font-size: .9rem;
    color: var(--black-text)
  }
  
  .button {
    border-radius: 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: var(--white-text);
    background-color: var(--background-btn);
    font-size: 1.2rem;
    padding: .8rem 1.5rem;
    letter-spacing: .1rem;
    align-self: flex-end;
    cursor: pointer;
  }

  .img{
    margin-top: -25%;
    margin-bottom: 5%;
    margin-left: 30%;
    border-radius: 1rem;
  }
  
  /*media queries*/

  @media only screen and (max-width: 1440px) and (min-width: 1350px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 75rem;
      height: 90rem;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 12px;
    }

    .right-column p{	
      font-size: 1.1rem;
      color: var(--black-text)
    }

    h4{
      font-size: 1.3rem;
    }

  }

  @media only screen and (max-width: 1350px) and (min-width: 1000px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 62rem;
      height: 90rem;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 12px;
    }

    .right-column p{	
      font-size: 1.1rem;
      color: var(--black-text)
    }

    h4{
      font-size: 1.3rem;
    }

  }

  @media only screen and (max-width: 1000px) and (min-width: 850px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 50rem;
      height: 90rem;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 11px;
    }

  }
  
  @media only screen and (max-width: 850px) and (min-width: 680px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 40rem;
      height: 90rem;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 11px;
    }

  }

  @media only screen and (max-width: 680px) and (min-width: 500px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 30rem;
      height: 90rem;
    }

    .button {
      border-radius: 3rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      color: var(--white-text);
    background-color: var(--background-btn);
      font-size: 1.0rem;
      padding: .8rem 1.5rem;
      letter-spacing: .1rem;
      align-self: flex-end;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 11px;
    }

  }

  @media only screen and (max-width: 500px) and (min-width: 400px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 25rem;
      height: 90rem;
    }

    .button {
      border-radius: 5rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      color: var(--white-text);
    background-color: var(--background-btn);
      font-size: 0.6rem;
      padding: .8rem 1.0rem;
      letter-spacing: .1rem;
      align-self: flex-end;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 11px;
    }

  }

  @media only screen and (max-width: 399px) and (min-width: 300px) {  

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      width: 100%;
      align-items: center;
    }

    .card {
      background-color:var(--white-text);
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
      display: flex;	
      margin: 1.0rem;
      overflow: hidden;
      width: 20rem;
      height: 90rem;
    }

    .button {
      border-radius: 5rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      color: var(--white-text);
    background-color: var(--background-btn);
      font-size: 0.6rem;
      padding: .8rem 1.0rem;
      letter-spacing: .1rem;
      align-self: flex-end;
    }

    .card h6 {
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-size: 11px;
    }

  }